<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>I would like to request an event!</h1>
    <p>name : <%= @name %></p>
    <p>place :  <%= @place %></p>
    <p>date : <%= @date %></p>
  </body>
</html>
