.navbar {
  /*background-color: black;*/
  width: 100%;
  color: white;
  font-size: large;
  position: absolute;
  min-height: 50px;
}

.navbar > div {
  margin-left: 2.5%;
  margin-right: 2.5%;
}

#logo {
  float: left;
  padding: 15px 15px;
}

.navLogin {
  cursor: pointer;
  padding: 15px 15px;
  float: right;
}
