.homeTop {
  background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ) , url('http://res.cloudinary.com/dayd3nm4v/image/upload/v1456974330/24752607950_a59864b2e1_o_hlwruk.jpg');
  background-position: bottom;
  filter: brightness(50%);
  background-size: cover !important;
  min-height: 600px;
  width: 100%;
}

.jumboTron {
  position : relative;
  color: white;
  font-size: 40px;
  margin: auto;
  width: 65%;
  text-align: center;
  padding-top : 200px;
}

.miniTron h1 {
  font-size: 60px;
}

.miniTron h2 {
  font-size: 18px;
}
.jumboTron > h2 {
  color: white;
  padding-top: 250px;
  text-align: center;

}
