#homepage {
  /*background: url('http://res.cloudinary.com/dayd3nm4v/image/upload/v1457060181/25021811086_eb5702d33f_o_au4qdv.jpg');
  background-position: center;
  background-attachment: fixed;
  background-size: cover;*/
  /*height: 100%;*/
  /*display: inline-block;*/
}

.homeTop {
  background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ) , url('http://res.cloudinary.com/dayd3nm4v/image/upload/q_70/v1456974330/24752607950_a59864b2e1_o_hlwruk.jpg');
  background-position: bottom;
  filter: brightness(50%);
  background-size: cover !important;
  min-height: 600px;
  width: 100%;
}

.jumboTron {
  /*position : relative;*/
  color: white;
  font-size: 40px;
  margin: auto;
  width: 65%;
  text-align: center;
  padding-top : 200px;
}

.miniTron h1 {
  font-size: 70px;
}

.miniTron h2 {
  font-size: 25px;
}
.jumboTron > h2 {
  color: white;
  padding-top: 200px;
  text-align: center;

}
