#loginContainer {
  background-color: grey;
  margin: auto;
  width: 70%;
  min-height: 600px;
}

#loginContainer .logo {
  width: 250px;
  text-align: center;
  font-size: 50px;
  margin: auto;
}

#loginContainer .prompt {
  width: 350px;
  text-align: center;
  margin: auto;
}
