.splash {
  background-image: url('http://res.cloudinary.com/dayd3nm4v/image/upload/v1454612424/IMG_4096_de8bnx.jpg');
  background-position: bottom;
  background-size: cover !important;
  min-height: 600px;
  width: 100%;
}

.splash > div {
  margin: auto;
  width: 75%;
  height: 70%;
  background-color: rgba(198,226,255,0.5);
}
