#eventPage {
  background-color: #F4F4F4;
  height: 100%;
  width: 100%;
}

#eventPage .navBackground{
  /*position: absolute;
  width: 100%;*/
  z-index: -1;
  background: black;
  height: 51px;
}

#eventPage .banner {
  background-color: white;
  height: 75%;
  min-height: 500px;
  position: fixed;
  border-style: solid;
  border-color: grey;
  border-width: thin;;
  border-radius: 10px;
  top: 15%;
  left: 2%;
  width: 45%;
  text-align: center;
}

#eventPage .banner span {
  margin-left: 20px;
  font-size: 1.4vw;
}

#eventPage .banner .name {
  font-size: 3.0vw;
  margin: 4px;
  padding-top: 10%;
}

#eventPage .banner img {
  margin-top: 3%;
  max-width: 95%;
  min-width: 400px;
}

#eventPage .ridesContainer {
  margin-top: 5%;
  float: right;
  width: 45%;
}

#eventPage ul {
  width: 90%;
  background-color: #91EEFD;
}

#eventPage .rideTab {
  background-color: white;
  height: 90px;
  border-style: solid;
  border-color: grey;
  border-width: thin;;
  border-radius: 5px;
  text-align: center;
}

#eventPage .rideTab:hover {
  opacity: 0.8;
}

.rideTab img {
  float: left;
  margin: 10px;
  height: 70px;
}
